<div mat-dialog-title class="shared-header-section border-b">
    <!-- header of student detail -->
    <div class="absolute right-3">
        <button mat-icon-button class="flex items-center" (click)="closeDialog()">
            <mat-icon class="icon-size-6 mt-1" svgIcon="mdi:close"></mat-icon>
        </button>
    </div>
    <div class="flex flex-1 items-center font-medium justify-start">
        <div class="flex items-center ml-1.5 just">
            <span class="text-3xl font-semibold text-gray-600 -mb-0.5"> ផ្លាស់ប្តូរព័ត៌ពាក្យសម្ងាត់ </span>
        </div>
    </div>
    
</div>

<mat-dialog-content class="w-[38rem] h-full">
    <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()" class="md-form-field-appearance-outline pt-4">
        <div class="grid grid-cols-1 py-2">
            <mat-form-field appearance="outline">
                <mat-label>ពាក្យសម្ងាត់ចាស់</mat-label>
                <input matInput formControlName="oldPassword" placeholder="បញ្ជាក់ពាក្យសម្ងាត់ចាស់" [type]="hideConfirmPassword ? 'password' : 'text'" class="pb-2">
                <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()" type="button" class="translate-y-0 -translate-x-2">
                  <!-- Show eye-closed icon when the password is hidden -->
                  <mat-icon class="mat-icon-6" svgIcon="heroicons_mini:eye-slash" *ngIf="hideConfirmPassword === true"></mat-icon>
                  
                  <!-- Show eye icon when the password is visible -->
                  <mat-icon class="mat-icon-6" svgIcon="heroicons_mini:eye" *ngIf="hideConfirmPassword === false"></mat-icon>
                </button>
                <mat-error *ngIf="firstFormGroup.get('oldPassword').hasError('required')">ទាមទារពាក្យសម្ងាត់ចាស់</mat-error>
  
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>ពាក្យសម្ងាត់ថ្មី</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword" placeholder="បញ្ចូលពាក្យសម្ងាត់ថ្មី" class="pb-2">
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button" class="translate-y-0 -translate-x-2">
                    <!-- Show eye-closed icon when the password is hidden -->
                    <mat-icon class="mat-icon-6" svgIcon="heroicons_mini:eye-slash" *ngIf="hidePassword === true"></mat-icon>
                    
                    <!-- Show eye icon when the password is visible -->
                    <mat-icon class="mat-icon-6" svgIcon="heroicons_mini:eye" *ngIf="hidePassword === false"></mat-icon>
                  </button>
                  <mat-error *ngIf="firstFormGroup.get('newPassword').hasError('required')">ទាមទារពាក្យសម្ងាត់</mat-error>
                  <mat-error *ngIf="firstFormGroup.get('newPassword').hasError('minlength')">ពាក្យសម្ងាត់ត្រូវតែមានយ៉ាងហោចណាស់ 8 តួអក្សរ</mat-error>          
              </mat-form-field>
            </div> 

          <div class="grid grid-cols-1 gap-4">
            <mat-form-field appearance="outline">
              <mat-label>បញ្ជាក់ពាក្យសម្ងាត់ថ្មី</mat-label>
              <input matInput formControlName="confirmPassword" placeholder="បញ្ជាក់ពាក្យសម្ងាត់ថ្មី" [type]="hideConfirmPassword ? 'password' : 'text'" class="pb-2">
              <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()" type="button" class="translate-y-0 -translate-x-2">
                <!-- Show eye-closed icon when the password is hidden -->
                <mat-icon class="mat-icon-6" svgIcon="heroicons_mini:eye-slash" *ngIf="hideConfirmPassword === true"></mat-icon>
                
                <!-- Show eye icon when the password is visible -->
                <mat-icon class="mat-icon-6" svgIcon="heroicons_mini:eye" *ngIf="hideConfirmPassword === false"></mat-icon>
              </button>
              <mat-error *ngIf="firstFormGroup.hasError('mismatch')">ពាក្យសម្ងាត់មិនត្រូវគ្នាទេ</mat-error>
            </mat-form-field>
          </div>

          <div class="flex items-center justify-end">
            <button mat-button (click)="onSubmit()" class="bg-blue-700 px-6 py-3 rounded-xl hover:bg-blue-500 cursor-pointer">
                <span class="text-xl text-white">រួចរាល់</span>
            </button>
        </div>
    </form>
</mat-dialog-content>



<mat-dialog-actions></mat-dialog-actions>
