<div mat-dialog-title>
    <div class="flex w-150 flex-1 items-center justify-start font-medium">
        <div class="flex items-center ml-1.5">
            <span class="text-3xl font-[500] text-gray-600 -mb-0.5">
                បង្កើតម៉ោងសិក្សាថ្មី
            </span>
        </div>
    </div>
    <mat-icon
        (click)="closeDialog()"
        class="text-current icon-size-7 cursor-pointer"
        [svgIcon]="'heroicons_solid:x-mark'"
    ></mat-icon>
</div>

<mat-dialog-content class="border-t w-[600px]">
    <form class="grid grid-cols-1  md-form-field-appearance-outline" [formGroup]="shift">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label class="text-md text-gray-500">កាលបរិច្ឆេទ</mat-label>
            <input
              id="date"
              matInput
              readonly
              [matDatepicker]="date"
              formControlName="date"
              (click)="date.open()"
            />
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker
              #date
              (dateChange)="chosenDateHandler($event, date)"
            ></mat-datepicker>
          </mat-form-field>
        <div class="grid grid-cols-2 gap-4">
            <!-- Start Time Selector -->
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="text-md text-gray-500">ជ្រើសរើសម៉ោងចាប់ផ្តើម</mat-label>
              <mat-select formControlName="start_at" placeholder="ជ្រើសរើសម៉ោង">
                <mat-option *ngFor="let hour of filteredHours" [value]="hour">
                  {{ hour }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- End Time Selector -->
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="text-md text-gray-500">ជ្រើសរើសម៉ោងបញ្ចប់</mat-label>
              <mat-select formControlName="finish_at" placeholder="ជ្រើសរើសម៉ោង">
                <mat-option *ngFor="let hour of filteredEndHours" [value]="hour">
                  {{ hour }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label class="text-md text-gray-500">ជ្រើសរើសមុខវិជ្ជា</mat-label>
            <mat-select formControlName="subject_ids" placeholder="ជ្រើសរើសមុខវិជ្ជា" multiple>
                <mat-option *ngFor="let sub of data.setup" [value]="sub.id">{{sub.name}}</mat-option>

            </mat-select>
          </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="flex items-center justify-between gap-2">
    <!-- <button [class.helpers-mat-button-red]="shift.enabled" class="helpers-mat-button-md bg-red-500" [disabled]="shift.disabled"
        mat-flat-button [mat-dialog-close]="false">
        <span class="text-white">បោះបង់</span>
    </button> -->
    <div></div>
    <button class="helpers-mat-button-md min-w-20 bg-blue-900" mat-flat-button (click)="submit()"
        [disabled]="shift.invalid || shift.disabled">
        <span *ngIf="!shift.disabled" class="text-white">រក្សាទុក</span>
        <mat-progress-spinner *ngIf="shift.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
</mat-dialog-actions>
