<div mat-dialog-title  class="shared-header-section">
    <!-- header of student detail -->
    <div class="flex flex-1 items-center font-medium"> 
        <div class="flex items-center ml-1.5">
            <span class="text-3xl font-semibold text-gray-600 -mb-0.5"> បង្កើតប្រភេទនៃកម្មវិធីសិក្សា </span>
        </div>
    </div>
    <div class="flex items-center gap-4">
        <button mat-icon-button class="flex items-center border" (click)="closeDialog()" >
            <mat-icon class="icon-size-6 -mb-0.5" svgIcon="mat_outline:close" />
        </button>
    </div>      
</div>
<mat-dialog-content class="view-system-content">
    <form [formGroup]="createForm" class="md-form-field-appearance-outline">
        <!-- Image Upload Section -->
        <div class="md:col-span-3 lg:col-span-2 h-fit lg:h-auto flex justify-center scale-90">
            <div class="h-[11rem] w-[11rem] border-dashed border-4 border-blue-500 hover:border-blue-300 flex items-center justify-center relative cover" (click)="selectIconFile()">
                <img class="h-[10rem] w-[10rem] object-cover cursor-pointer" [src]="imagePreview" alt="">    
                <div class="absolute top-2 right-4 text-xl text-gray-400">*</div>
            </div>
            <input [id]="'icon-file'" class="hidden" type="file" accept="image/*" (change)="onFileSelected($event)" />
        </div>
    
        <!-- Other Form Fields -->
        <div class="w-full pt-4 overflow-x-clip gap-3 flex flex-col ">
            <div class="grid grid-cols-1 gap-4">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>ឈ្មោះ</mat-label>
                    <input matInput formControlName="name" placeholder="បញ្ចូលឈ្មោះ" class="pb-2">
                    <mat-error *ngIf="createForm.get('name')?.hasError('required')">សូមបញ្ចូលឈ្មោះ</mat-error>
                </mat-form-field>
            </div>
        </div>
    
        <!-- Submit Button -->
        <div class="flex items-center justify-end">
            <button mat-button class="bg-blue-700 px-6 py-3 rounded-xl hover:bg-blue-500 cursor-pointer" (click)="submitForm()" [disabled]="!createForm.valid">
                <span class="text-xl text-white">រួចរាល់</span>
            </button>
        </div>
    </form>
    
</mat-dialog-content> 


<mat-dialog-actions>

</mat-dialog-actions>
