.list-user-section {
    width: 100%;
    height: calc(100dvh - 5.25rem) !important;
    overflow: hidden;

    .list-user-body,
    .no-data {
        width: 100%;
        height: calc(100dvh - 7.75rem);
        overflow: hidden;

        .list-user-content {
            width: 100%;
            // margin-bottom: 0.25rem;
            height: calc(100dvh - 11rem); //7.75rem + 1rem + 0.25rem
            overflow: hidden;

            .list-user-data {
                width: 100%;
                max-height: calc(100dvh - 12rem);
                overflow: auto;
            }
        }
    }
}

table {
    padding: 1rem !important;
    width: 100%;
}


.list-user-data .mat-cell {
    padding: 1rem 6px !important;
    color: #6b7280;
    font-size: 16px !important;
}

.list-user-data .mat-column-action {
    flex: none;
    width: 2rem;
    margin-right: -2px !important;
}
:host ::ng-deep .customswitch .switch.checked{
    background: #3b82f6 !important;
    border: #3b82f6 !important;
    height: 1.5rem !important;
    small {
        margin: 3px !important;
    }
}

:host ::ng-deep .customswitch .switch{
    height: 1.5rem !important;
    small {
        margin-left: 4px !important;
        margin-top: 2px !important;
    }
}
//dialog no border
::ng-deep .custom-dialog-container .mdc-dialog__surface {
    border-radius: 0 !important;
    box-shadow: none !important;
}
.flex-custom {
    display: flex !important;
}

::placeholder {
    color: #94a3b8 !important;
}

::-ms-input-placeholder {
    color: #94a3b8 !important;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}