<div class="content-schedule p-4">
    <div
        class="h-full w-full border bg-white border-gray-100 rounded-xl pt-5 px-3"
    >
        <!-- Header -->
        <div
            class="flex w-full h-10 justify-start gap-3 border-b border-gray-200 px-5 pb-3"
        >
            <mat-icon
                svgIcon="heroicons_outline:home"
                class="icon-size-6"
            ></mat-icon>
            <span>កាលវិភាគ {{ semester?.title }}</span>
        </div>

        <div class="main-schedule overflow-auto">
            <div class="h-13 w-full flex justify-center items-center gap-5">
                <mat-icon
                    class="cursor-pointer"
                    svgIcon="heroicons_outline:chevron-left"
                    (click)="prevMonth()"
                ></mat-icon>
                <span class="text-xl text-gray-600 font-medium"
                    >{{ monthNames[currentDate.getMonth()] }},
                    {{ currentDate.getFullYear() }}</span
                >
                <mat-icon
                    class="cursor-pointer"
                    svgIcon="heroicons_outline:chevron-right"
                    (click)="nextMonth()"
                ></mat-icon>
            </div>

            <div class="w-full h-full">
                <table class="w-full h-full border-collapse">
                    <!-- Table Header -->
                    <thead class="bg-gray-200">
                        <tr>
                            <th class="w-18 border h-10 bg-gray-50">ពេលវេលា</th>
                            <th
                                class="w-18 border h-10 bg-gray-50"
                                *ngFor="let day of weekDays"
                            >
                                {{ day.title }}
                            </th>
                        </tr>
                    </thead>
                    <!-- Table Body -->
                    <tbody>
                        <!-- Loop through available time slots -->
                        <tr *ngFor="let timeSlot of timeSlots">
                            <!-- Time Slot Title Column -->
                            <td class="w-18 border min-h-18 h-18 text-center">
                                {{ timeSlot.title }}
                            </td>

                            <!-- Loop through each day in the week for a specific time slot -->
                            <td
                                class="w-18 border min-h-18 h-18 cursor-pointer hover:bg-blue-50"
                                *ngFor="let day of weekDays"
                            >
                                <div
                                    class="w-full h-full flex justify-center items-center"
                                >
                                    <div *ngFor="let sche of data">
                                        <!-- <span
                                            *ngIf="
                                                sche?.day_id === day.id &&
                                                sche?.time_id === timeSlot.id
                                            "
                                        >
                                            {{
                                                sche?.subject?.name ||
                                                    "No Subject"
                                            }}
                                        </span> -->
                                        <div
                                            *ngIf="
                                                sche?.day_id === day.id &&
                                                sche?.time?.id === timeSlot.id
                                            "
                                            class="w-full h-full flex flex-col justify-center items-center"
                                        >
                                            <span>{{ sche.subject.name }}</span>
                                            <span
                                                class="text-sm text-gray-400 pt-1"
                                                >{{ sche.level }} /
                                                {{ sche.grade }} /
                                                {{ sche.language }} /
                                                {{ sche.room }}</span
                                            >
                                            <span
                                                class="text-sm text-gray-400 pt-1"
                                                >{{ sche.time.title }}</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
