<div mat-dialog-title class="shared-header-section border-b">
    <div class="flex flex-1 items-center font-medium"> 
        <div class="flex items-center ml-2">
            <span class="text-3xl font-semibold text-gray-600 -mb-0.5"> បង្កើតប្រភេទមុខវិជ្ជា </span>
        </div>
    </div>
    <div class="flex items-center gap-4">
        <button mat-icon-button class="flex items-center" (click)="closeDialog()" >
            <mat-icon class="icon-size-6 mt-1" svgIcon="mat_outline:close" />
        </button>
    </div>      
</div>

<mat-dialog-content class="w-[600px] h-full">
    <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()" class="md-form-field-appearance-outline">    

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>ភាគរយ</mat-label>
            <input matInput formControlName="percentage" placeholder="បញ្ចូលភាគរយ" class="pb-3">
            <mat-error *ngIf="firstFormGroup.get('percentage').hasError('max')">
                ចំនួនមិនអាចលើសពី 100
              </mat-error>
              <mat-error *ngIf="firstFormGroup.get('percentage').hasError('required')">
                សូមបញ្ចូលចំនួន
              </mat-error>
              <mat-error *ngIf="firstFormGroup.get('percentage').hasError('pattern') && !firstFormGroup.get('percentage').hasError('required')">
                ចំនួនត្រូវតែជាលេខ
              </mat-error>
             
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="w-full flex justify-end ">
        <button [disabled]="!firstFormGroup.valid" class="helpers-mat-button-md flex justify-center items-center min-w-20 bg-blue-900 rounded-lg py-2" [ngClass]="{'bg-gray-200 cursor-not-allowed': disable}" mat-flat-button (click)="onSubmit()">
            <span  class="text-white" *ngIf="!disable">រួចរាល់</span>
            <mat-progress-spinner *ngIf="disable" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
        </button>
    </div>
</mat-dialog-actions>
