<div class="view-profile-section w-screen">
    <div class="view-profile-container">
        <div class="shared-header-section">
            <div class="flex flex-1 items-center font-medium">
                <div class="flex items-center">
                    <mat-icon class="icon-size-5 -mt-0.5" svgIcon="heroicons_outline:home" />
                </div>
                <div class="flex items-center ml-1.5">
                    <span class="text-lg text-gray-600 -mb-0.5">គណនី</span>
                </div>
            </div>
            <div class="flex items-center gap-2">
                <button class="helpers-mat-button-sm px-2" mat-icon-button (click)="update(data)">
                    <mat-icon class="icon-size-6" svgIcon="feather:edit" />
                </button>
                <button class="helpers-mat-button-sm px-2" mat-icon-button (click)="changePassword(data)">
                    <mat-icon class="icon-size-7" svgIcon="mat_outline:lock" />
                </button>
            </div>
        </div>
        <div class="view-profile-body relative">
            <!-- <button mat-icon-button class="top-6 right-6 absolute">
                <mat-icon class="icon-size-8" svgIcon="feather:user"></mat-icon>
            </button> -->
            <div class="pt-4 flex flex-col gap-2 items-center">
                <div class="w-64 scale-75">
                    <helper-portrait class="pfp" [title]="'បញ្ចូលរូបភាព'" [src]="fileUrl + data?.avatar"></helper-portrait>
                </div>
                <span class="text-3xl font-bold text-gray-600 -mb-0.5"> {{ data?.name }} </span>
                <span class="text-lg text-gray-500 -mb-0.5">{{ data?.roles[0].name }} </span> 
                <div class="flex h-20  w-full py-4">
                    <div class="flex flex-1 justify-end pr-8 items-center font-medium">
                        <div class="flex items-center">
                            <mat-icon class="icon-size-6 mt-0.5" svgIcon="mat_outline:smartphone"></mat-icon>
                        </div>
                        <div class="flex items-center ml-1.5">
                            <span class="text-llg text-gray-500 -mb-0.5"> {{formatPhoneNumber( data?.phone )}} </span>
                        </div>
                    </div>
                    <div class="flex items-center font-medium justify-center min-w-[20rem] w-[20rem] border-x border-slate-00">
                        <div class="flex items-center">
                            <mat-icon class="icon-size-6 mt-0.5" svgIcon="mat_outline:mail"></mat-icon>
                        </div>
                        <div class="flex items-center ml-1.5">
                            <span class="text-xl text-gray-500 -mb-0.5"> {{ data?.email }} </span>
                        </div>
                    </div>
                    <div class="flex flex-1 items-center font-medium pl-8 border-slate-00">
                        <div class="flex items-center">
                            <mat-icon class="icon-size-6 mt-0.5" svgIcon="mat_outline:calendar_today"></mat-icon>
                        </div>
                        <div class="flex items-center ml-1.5">
                            <span class="text-xls text-gray-500 -mb-0.5"> {{ data?.register_date| date:'MMM dd, yyyy' }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>