<div mat-dialog-title class="shared-header-section">
    <!-- header of student detail -->
    <div class="absolute right-2">
        <button
            mat-icon-button
            class="flex items-center border"
            (click)="closeDialog()"
        >
            <mat-icon
                class="icon-size-6 -mb-0.5"
                svgIcon="heroicons_outline:x-mark"
            />
        </button>
    </div>

    
    <div class="absolute left-2   ml-1.5">
        <span class="text-3xl font-semibold text-gray-600 -mb-0.5">
            {{ student?.name }}
        </span>
    </div>

</div>
<div class="view-student-content">
    <mat-tab-group class="mat-tab-flex-grow">
        @if(!loading) {
            <mat-tab label=" ទូទៅ ">
                <div class="flex justify-between py-8 overflow-x-hidden">
                    <div
                        class="w-4/12 flex flex-col justify-start items-center gap-1"
                    >
                        <helper-portrait
                            class="pfp"
                            [src]="fileUrl + student.avatar"
                            [title]="'បញ្ចូលរូបភាព'"
                        ></helper-portrait>
                        @if (path === 'staff') {
                            <span
                                class="text-2xl font-semibold text-gray-600 mt-3 -mb-0.5"
                            >
                                {{ user?.general?.name }}
                            </span>
                        }
                        @if (path === 'teacher') {
                            <span
                                class="text-2xl font-semibold text-gray-600 mt-3 -mb-0.5"
                            >
                                {{ user?.general?.name }}
                            </span>
                        }
                        @if (path === 'student') {
                            <span
                                class="text-2xl font-semibold text-gray-600 mt-3 -mb-0.5"
                            >
                                {{ user?.general?.kh_name }}
                            </span>
                        }


                        @if(path ==='staff'){
                            <span class="text-xl text-gray-600 -mb-0.5">
                            {{ user?.general?.role }}
                            </span>
                        }
                        @if(path ==='teacher'){
                            <span class="text-xl text-gray-600 -mb-0.5">
                                កម្រិត ៖ {{ user?.general?.level }}
                            </span>
                        }
                        @if(path ==='student'){
                            <span class="text-xl text-gray-600 -mb-0.5">
                             {{ user?.general?.code }}
                            </span>
                        }
                    </div>
                    @if(path === 'staff'){
                        <div class="w-8/12">
                            <div
                                class="w-full flex flex-1 px-3 items-center font-medium h-12 py-7 gap-4"
                            >
                                <mat-icon
                                    class="icon-size-6 mt-1"
                                    svgIcon="mdi:cellphone"
                                />
                                <strong
                                    class="text-xl font-medium text-slate-500 dark:text-white"
                                >
                                    {{ formatPhoneNumber(user?.general?.phone )}}
                                </strong>
                            </div>
                            <div
                                class="w-full flex flex-1 px-3 items-center font-medium h-12 py-7 gap-4 border-t"
                            >
                                <mat-icon
                                    class="icon-size-6 mt-1"
                                    svgIcon="mdi:email-outline"
                                />
                                <span class="text-xl dark:text-white">
                                    {{ user?.general?.email }}
                                </span>
                            </div>
                            <div
                                class="w-full flex flex-1 px-3 items-center font-medium h-12 py-7 gap-4 border-t"
                            >
                                <mat-icon
                                    class="icon-size-6 mt-1"
                                    svgIcon="mdi:calendar-blank-outline"
                                />
                                <span class="text-xl dark:text-white">
                                    {{ user?.general?.created_at | date: 'dd-MM-y' }}
                                </span>
                        </div>
                        </div>
                    }
                    @if(path === 'teacher'){
                        <div class="w-8/12">
                            <div
                                class="w-full flex flex-1 px-3 items-center font-medium h-12 py-7 gap-4"
                            >
                                <mat-icon
                                    class="icon-size-6 mt-1"
                                    svgIcon="mdi:cellphone"
                                />
                                <strong
                                    class="text-xl font-medium text-slate-500 dark:text-white"
                                >
                                    {{ formatPhoneNumber(user?.general?.phone )}}
                                </strong>
                            </div>
                            <div
                                class="w-full flex flex-1 px-3 items-center font-medium h-12 py-7 gap-4 border-t"
                            >
                                <mat-icon
                                    class="icon-size-6 mt-1"
                                    svgIcon="mdi:email-outline"
                                />
                                <span class="text-xl dark:text-white">
                                    {{ user?.general?.email }}
                                </span>
                            </div>
                            <div
                                class="w-full flex flex-1 px-3 items-center font-medium h-12 py-7 gap-4 border-t"
                            >
                                <mat-icon
                                    class="icon-size-6 mt-1"
                                    svgIcon="mdi:calendar-blank-outline"
                                />
                                <span class="text-xl dark:text-white">
                                    {{ user?.general?.created_at | date: 'dd-MM-y' }}
                                </span>
                        </div>
                        </div>
                    }
                    @if(path === 'student'){
                        <div class="w-8/12">
                            <div
                                class="w-full flex flex-1 px-3 items-center font-medium h-12 py-7 gap-4"
                            >
                                <mat-icon
                                    class="icon-size-6 mt-1"
                                    svgIcon="mdi:cake-variant-outline"
                                />
                                <strong
                                    class="text-xl font-medium text-slate-500 dark:text-white"
                                >
                                    {{ user?.general?.dob | date: 'dd-MM-y' }}
                                </strong>
                            </div>
                            <div
                                class="w-full flex flex-1 px-3 items-center font-medium h-12 py-7 gap-4 border-t"
                            >
                                <mat-icon
                                    class="icon-size-6 mt-1"
                                    svgIcon="mdi:map-marker-outline"
                                />
                                <span class="text-xl dark:text-white">
                                    {{ user?.general?.pob}}
                                </span>
                        </div>
                        </div>
                    }
                </div>
            </mat-tab>
            @if(path !== 'staff'){
               @if(path === 'student'){
                <mat-tab label="ថ្នាក់រៀន" >
                    <div class="flex gap-x-14 flex-wrap">
                        <ng-container class="pt-2" >
                            <div class="relative w-200 mt-5 flex border rounded-xl min-h-28 max-h-28 overflow-hidden" *ngFor="let item of user?.classrooms">
                                <div class="min-h-28 max-h-28 min-w-6 max-w-6 text-white " [ngClass]="getlanguage(item?.language)">
                                    <span class="text-sm min-h-28 max-h-28 -translate-x-7 -rotate-90 w-20 flex items-center justify-center">
                                        {{item?.grade}} / {{item?.language}}
                                    </span>
                                </div>
                                <div class="flex flex-col">
                                    <div class="flex">
                                        <div class="w-1/3 flex justify-start p-2 ">
                                            <div class="flex flex-col">
                                                <div class="flex justify-between">
                                                    <div class="w-full flex">
                                                        <div class="min-w-15 max-w-15 flex justify-start items-center">
                                                            <mat-icon [svgIcon]="'mdi:account-outline'"></mat-icon>
                                                        </div>
                                                        <div class="max-w-90 min-w-90 flex justify-start items-center gap-2 -ml-8">
                                                            <div class="flex items-center gap-2 min-w-26">
                                                                <span class=" text-[15px] leading-8">
                                                                    {{item?.teacher_name}}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                
                                                <div class="flex justify-between">
                                                    <div class="w-full flex">
                                                        <div class="min-w-15 max-w-15 flex justify-start items-center">
                                                            <mat-icon [svgIcon]="'mdi:account-school-outline'"></mat-icon>
                                                        </div>
                                                        <div class="max-w-90 min-w-90 flex justify-start items-center gap-2 -ml-8">
                                                            <div class="flex items-center gap-2 min-w-26">
                                                                <span class="truncate text-[15px] leading-8">
                                                                ​សរុប {{item?.total_students}}  ( ស្រី {{item?.total_female_students}} នាក់)
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                
                                                <div class="flex justify-between">
                                                    <div class="w-full flex">
                                                        <div class="min-w-15 max-w-15 flex justify-start items-center">
                                                            <mat-icon [svgIcon]="'mat_outline:door_front'"></mat-icon>
                                                        </div>
                                                        <div class="max-w-90 min-w-90 flex justify-start items-center gap-2 -ml-8">
                                                            <div class="flex items-center gap-2 min-w-26">
                                                                <span class="truncate text-[15px] leading-8">
                                                                    បន្ទប់លេខ 4
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                
                                            </div>
                                        </div>
                
                                    </div>
                                </div>
                                
                                <div *ngIf="item?.schedule === 'រសៀល'" class="absolute top-[12px] right-[1px] z-10 rotate-45 text-white "> 
                                    <span class="mt-2 min-w-10 text-center fixed-width">
                                        {{item?.schedule}}  
                                    </span> 
                                </div>
                                <div *ngIf="item?.schedule === 'ព្រឹក'" class="absolute top-[10px] right-[5px] z-10 rotate-45 text-white h-5"> 
                                    <span class="mt-2 min-w-10 text-center fixed-width">
                                        {{item?.schedule}}  
                                    </span> 
                                </div>
                                <div class="absolute top-0 right-0 triangle-container -rotate-180"> </div>
                
                                <div class="absolute right-0 top-10 flex items-center justify-end mr-4">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="viewDetail(item)">
                                            <mat-icon class="icon-size-5 text-gray-500" svgIcon="mat_outline:remove_red_eye"></mat-icon>
                                            <span class="text-lg text-gray-500">មើលលម្អិត</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>                    
                        </ng-container>
                    </div>            
                </mat-tab>
               }
               @if(path === 'teacher'){
                <mat-tab label="ថ្នាក់បង្រៀន" >
                    <div class="flex gap-x-14 flex-wrap">
                        <ng-container class="pt-2" >
                            <div class="relative w-200 mt-5 flex border rounded-xl min-h-28 max-h-28 overflow-hidden" *ngFor="let item of user?.classrooms">
                                <div class="min-h-28 max-h-28 min-w-6 max-w-6 text-white " [ngClass]="getlanguage(item?.language)">
                                    <span class="text-sm min-h-28 max-h-28 -translate-x-7 -rotate-90 w-20 flex items-center justify-center">
                                        {{item?.grade}} / {{item?.language}}
                                    </span>
                                </div>
                                <div class="flex flex-col">
                                    <div class="flex">
                                        <div class="w-1/3 flex justify-start p-2 ">
                                            <div class="flex flex-col">
                                                <div class="flex justify-between">
                                                    <div class="w-full flex">
                                                        <div class="min-w-15 max-w-15 flex justify-start items-center">
                                                            <mat-icon [svgIcon]="'mdi:account-outline'"></mat-icon>
                                                        </div>
                                                        <div class="max-w-90 min-w-90 flex justify-start items-center gap-2 -ml-8">
                                                            <div class="flex items-center gap-2 min-w-26">
                                                                <span class=" text-[15px] leading-8">
                                                                    {{item?.teacher_name}}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                
                                                <div class="flex justify-between">
                                                    <div class="w-full flex">
                                                        <div class="min-w-15 max-w-15 flex justify-start items-center">
                                                            <mat-icon [svgIcon]="'mdi:account-school-outline'"></mat-icon>
                                                        </div>
                                                        <div class="max-w-90 min-w-90 flex justify-start items-center gap-2 -ml-8">
                                                            <div class="flex items-center gap-2 min-w-26">
                                                                <span class="truncate text-[15px] leading-8">
                                                                ​សរុប {{item?.total_students}}  ( ស្រី {{item?.total_female_students}} នាក់)
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                
                                                <div class="flex justify-between">
                                                    <div class="w-full flex">
                                                        <div class="min-w-15 max-w-15 flex justify-start items-center">
                                                            <mat-icon [svgIcon]="'mat_outline:door_front'"></mat-icon>
                                                        </div>
                                                        <div class="max-w-90 min-w-90 flex justify-start items-center gap-2 -ml-8">
                                                            <div class="flex items-center gap-2 min-w-26">
                                                                <span class="truncate text-[15px] leading-8">
                                                                    បន្ទប់លេខ 4
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                
                                            </div>
                                        </div>
                
                                    </div>
                                </div>
                                
                                <div *ngIf="item?.schedule === 'រសៀល'" class="absolute top-[12px] right-[1px] z-10 rotate-45 text-white "> 
                                    <span class="mt-2 min-w-10 text-center fixed-width">
                                        {{item?.schedule}}  
                                    </span> 
                                </div>
                                <div *ngIf="item?.schedule === 'ព្រឹក'" class="absolute top-[10px] right-[5px] z-10 rotate-45 text-white h-5"> 
                                    <span class="mt-2 min-w-10 text-center fixed-width">
                                        {{item?.schedule}}  
                                    </span> 
                                </div>
                                <div class="absolute top-0 right-0 triangle-container -rotate-180"> </div>
                
                                <div class="absolute right-0 top-10 flex items-center justify-end mr-4">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="viewDetail(item)">
                                            <mat-icon class="icon-size-5 text-gray-500" svgIcon="mat_outline:remove_red_eye"></mat-icon>
                                            <span class="text-lg text-gray-500">មើលលម្អិត</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>                    
                        </ng-container>
                    </div>            
                </mat-tab>

               }
            }
            <mat-tab label="ឯកសារ">
                <div class="lg-shared-header-section header-section">
                    <div class="flex items-center ml-1.5 gap-4">
                        <span class="text-2xl font-semibold text-gray-600 -mb-0.5"> {{dataSource.data.length}} ឯកសារ </span>
                    </div>
                </div>    
                <div class="view-file-data">
                    <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> ឈ្មោះ </th>
                            <td mat-cell *matCellDef="let item">
                                <div class="flex gap-2 items-center">
                                    <img class="icon-avatar" [src]="fileUrl + item.extension_icon" alt="avatar">
                                    <span class="text-xl"> {{item?.name}} </span>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="author">
                            <th mat-header-cell *matHeaderCellDef> បង្កើត </th>
                            <td mat-cell *matCellDef="let item">
                                <div class="flex">
                                    <img class="student-avatar" [src]="fileUrl + item.creator_avatar" alt="avatar">
                                    <div class="flex flex-col justify-center pl-2">
                                        <strong class="text-lg font-medium text-slate-900 dark:text-white">{{ item?.name}}</strong> 
                                        <span class="text-gray-500"> {{item?.created_at | date:'dd-MM-y'}} </span>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="file">
                            <th mat-header-cell *matHeaderCellDef > 
                                ទំហំ 
                            </th>
                            <td mat-cell *matCellDef="let item">
                                <span class="text-gray-500">{{ item?.size }} mb</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let item">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="viewFile(item)">
                                        <mat-icon class="icon-size-5 text-gray-500"
                                            svgIcon="heroicons_outline:eye"></mat-icon>
                                        <span class="text-lg text-gray-500">មើល</span>
                                    </button>
                                    <button mat-menu-item (click)="downloadFile(item)">
                                        <mat-icon class="icon-size-5 text-gray-500"
                                            svgIcon="mat_outline:download"></mat-icon>
                                        <span class="text-lg text-gray-500">ទាញុយក</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div *ngIf="dataSource.data.length === 0" class="flex flex-col view-file-data justify-center items-center mb-4">
                        <mat-icon class="icon-size-16" svgIcon="toc"></mat-icon>
                        <span class="text-lg -mt-4">គ្មានទិន្នន័យ</span>
                    </div>
                </div>
            </mat-tab>
        }
    </mat-tab-group>
</div>
<mat-dialog-actions>
    
</mat-dialog-actions>
