<div mat-dialog-title>
    <span class="text-2xl"
        >ឆ្នាំសិក្សា {{ data?.year }} / {{ data?.item?.branch_name }}</span
    >
</div>

<mat-dialog-content class="border-t w-[800px]">
    <p class="py-5 text-center text-2xl text-black">ការកំណត់តម្លៃ</p>
    <div
        *ngIf="!loading"
        class="w-full border border-t-1 border-x-0 border-b-0"
    >
        <mat-tab-group class="mat-tab-flex-grow">
            <mat-tab *ngFor="let tab of tabs" class="" [label]="tab.name">
                <div class="w-full">
                    <div *ngIf="tab?.steps?.length > 0">
                        <div
                            class="py-5 border border-t-0 border-x-0 border-b-1"
                            *ngFor="let group of tab?.groups"
                        >
                            <div class="w-full h-13 flex justify-between px-8">
                                <div
                                    class="w-[70px] flex items-center font-semibold h-full"
                                >
                                    {{ group?.grade?.name }}
                                </div>
                                <div
                                    class="w-[600px] grid grid-cols-4 h-full gap-3"
                                >
                                    <div
                                        *ngFor="let step of tab?.steps"
                                        class="flex justify-end items-center h-full pr-7"
                                    >
                                        {{ step }}
                                    </div>
                                </div>
                            </div>
                            <div
                                *ngFor="
                                    let payment of group?.payments;
                                    let i = index
                                "
                            >
                                <mat-accordion>
                                    <mat-expansion-panel
                                        [class.bg-[#f3f4f5]]="(i + 1) % 2 == 1"
                                    >
                                        <mat-expansion-panel-header>
                                            <div
                                                class="w-full h-13 flex justify-between"
                                            >
                                                <div
                                                    class="flex items-center font-semibold"
                                                >
                                                    {{
                                                        payment?.language?.name
                                                    }}
                                                </div>
                                                <div
                                                    class="w-[600px] grid grid-cols-4 h-full gap-3"
                                                >
                                                    <div
                                                        *ngFor="
                                                            let step of payment?.steps
                                                        "
                                                        class="flex justify-end items-center h-full pr-4"
                                                    >
                                                        $
                                                        {{
                                                            step.price
                                                                | currency
                                                                    : ""
                                                                    : ""
                                                                    : "1.2"
                                                        }}
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-expansion-panel-header>
                                        <div
                                            class="w-full h-13 flex justify-between px-4"
                                            *ngFor="
                                                let dis of payment?.discounts;
                                                let y = index
                                            "
                                            [class.bg-[#f3f4f5]]="
                                                (y + 1) % 2 == 1
                                            "
                                        >
                                            <div
                                                class="flex items-center text-green-700"
                                            >
                                                {{ dis?.percentage }}%
                                            </div>
                                            <div
                                                class="w-[600px] grid grid-cols-4 h-13 gap-3"
                                            >
                                                <div
                                                    *ngFor="
                                                        let price of dis?.prices
                                                    "
                                                    class="flex justify-end items-center h-full pr-4 text-gray-400"
                                                >
                                                    $
                                                    {{
                                                        price
                                                            | currency
                                                                : ""
                                                                : ""
                                                                : "1.2"
                                                    }}
                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                    <div
                        *ngIf="tab?.steps?.length === 0"
                        class="flex flex-col justify-center items-center mb-4"
                    >
                        <mat-icon class="icon-size-16" svgIcon="toc"></mat-icon>
                        <span class="text-lg -mt-4">គ្មានទិន្នន័យ</span>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-dialog-content>
