<!-- Loading bar -->
<helper-loading-bar></helper-loading-bar>

<!-- Navigation -->
<helper-navigation class="dark bg-gray-900 print:hidden" [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'" [navigations]="navigations" [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container helperNavigationContentHeader>
        <div class="flex justify-center p-4">
            <!-- Logo -->
            <div class="flex items-center gap-0.5">
                <img class="h-14" src="images/logo/kce.png" alt="img">
                <img class="h-14 -mt-2" src="images/logo/kce-text.png" alt="image">
            </div>
        </div>
    </ng-container>
    <!-- Navigation footer hook -->
    <ng-container helperNavigationContentFooter>
        <div class="my-2 flex h-32 flex-0 items-center justify-center px-4 opacity-5">
            <img class="max-h-32 w-auto" src="images/logo/CamCyber.png" />
        </div>
    </ng-container>
</helper-navigation>

<!-- Wrapper -->
<div class="flex w-full min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card flex h-14 w-full flex-0 items-center pl-2 md:pl-4 pr-3 shadow dark:border-b dark:shadow-none print:hidden">
        <!-- Navigation toggle button -->
        <button class="block md:hidden mt-1" mat-icon-button (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
        <div class="mb-0.5 ml-1 md:ml-0">
            <p class="text-2xl font-semibold text-black dark:text-white">{{role?.name}}  @if (isGM) {| {{user.branch}}}</p>
        </div>
        <!-- Components -->
        <div class="ml-auto flex items-center space-x-0.5 pl-2 sm:space-x-2">
            <!-- <scheme></scheme> -->
            <!-- <notifications></notifications> -->
            <languages></languages>
            <helper-fullscreen class="hidden md:block"></helper-fullscreen>
            <user></user>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-auto flex-col">
        @if (true) {
        <router-outlet></router-outlet>
        }
    </div>

    <!-- Footer -->
    <!-- <div
        class="sticky bottom-0 flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">CamCyber &copy; {{currentYear}}</span>
    </div> -->
</div>
