.view-file-section{
    height: calc(100dvh - 11.5rem);
    overflow: scroll;
    .header-section{
        height: 100px;
        @apply flex flex-1 items-center px-4 font-medium justify-between #{'!important'}
    }

    .view-file-data{
        height:  calc(100dvh - 22rem);  //19 + 3
        overflow: scroll;
    }
}
.triangle-container {
    position: relative;
    width: 0;
    height: 0;
    // border-left: 50px solid transparent;
    border-right: 64px solid transparent;
    border-bottom: 64px solid ;
    @apply border-b-gray-500 /* The color of the triangle */
}

::ng-deep .mat-button-toggle-group{
    border: 1px solid !important;
    @apply rounded-full bg-slate-100 border-slate-100  #{'!important'};

    .mat-button-toggle{
        width: 8rem !important;
        @apply px-3 rounded-none #{'!important'};
    }

    .mat-button-toggle:nth-child(2){
        @apply border-y border-slate-100 #{'!important'};
    }
}

::ng-deep .view-file-data {

    .student-avatar {
        @apply rounded-full border border-blue-600 min-w-[45px] max-w-[45px] min-h-[45px] max-h-[45px] object-cover #{'!important'};
    }

    .ng-star-inserted{
        height: 0 !important;
    }

    .mat-mdc-header-cell {
        display: none !important;
        height: 0 !important;
        font-size: 1rem !important;
        padding: 0 !important;
        color: #0f172a !important;
        z-index: 10 !important;
        padding: 0.5rem !important;
        @apply dark:text-white border-b-0 #{'!important'};
    }

    .mat-mdc-cell{
        border: none;
    }

    .mdc-data-table__content tr:nth-child(odd){
        @apply bg-slate-100 hover:bg-slate-100 #{'!important'}
    }

    /* Style odd rows */
    .mat-row:nth-child(odd) {
        background-color: #f5f5f5; /* Light grey background for odd rows */
    }

    /* Style even rows */
    .mat-row:nth-child(even) {
        background-color: #ffffff; /* White background for even rows */
    }

    .mat-column-checkbox {
        min-width: 4rem;
        width: 4rem;
        max-width: 4rem;
        text-align: center;
    }
    .mat-mdc-cell {
        padding: 0.5rem !important;
    }



    .mat-column-time {
        min-width: 14rem;
        width: 14rem;
        max-width: 14rem;
        text-align: left;
    }

   

    .mat-column-subject {
        min-width: 6rem;
        width: 6rem;
        max-width: 6rem;
        text-align: left;
    }

    .mat-column-class {
        min-width: 6rem;
        width: 6rem;
        max-width: 7rem;
        text-align: left;
    }


    .mat-column-action {
        flex: none;
        width: 1rem;
        text-align: right;
    }
}
