<section class="list-general-section">
    <div class="list-general-container">
        <div *ngIf="data?.length > 0">
            <div class="data-container border-b py" *ngFor="let item of data">
                <div class="lg-shared-header-section header-section">
                    <div class="flex items-center ml-1.5 gap-4">
                        <mat-icon class="icon-size-6 " svgIcon="mat_outline:menu_book"/>
                        <span class="text-xl font-medium text-gray-600 -mb-0.5"> {{item?.name}} </span>
                    </div>
                    <div class="flex items-center gap-5">
                        <button mat-icon-button class="flex items-center" (click)="create(item)" >
                            <mat-icon class="icon-size-6 " svgIcon="heroicons_mini:plus" />
                        </button>
                    </div>
                </div>    
                <div class="flex flex-1 items-center font-medium h-16 "> 
                    <div class="flex items-center w-4/5 justify-between">
                        <div class="flex items-center">
                            <span class="pl-4 text-xl font-semibold -mb-0.5"> ល.រ </span>
                            <span class="pl-8 text-xl font-semibold -mb-0.5"> មុខវិជ្ជា </span>
                        </div>
                    </div>
                    <span class="text-xl w-1/5 -mb-0.5 pr-20 font-semibold text-center"> កាលបរិច្ឆេទ </span>
                </div>
                <!-- First Loop -->
                <div *ngFor="let datas of item.subjects; let i = index"   [ngClass]="{'bg-slate-100': i % 2 === 0}" class="flex flex-1 px-1 items-center font-medium h-12 py-2 pr-3 ">
                    <div class="flex items-center ml-1.5 w-4/5 justify-between" 
                      >
                    <div class="flex items-center gap-3">
                        <span class="w-10 text-center">{{ i + 1 }}</span>
                        <div class="flex flex-col justify-center pl-4">
                            <strong class="text-lg font-medium text-slate-500 dark:text-white">
                                {{datas?.name}}
                            </strong>
                        </div>
                    </div>
                    </div>
                    <span class=" text-lg w-1/5 text-center -mb-0.5 pl-4 text-gray-500">
                         {{datas?.created_at | date: 'dd-MM-y' }}
                    </span>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item >
                            <mat-icon class="icon-size-5 text-gray-500"
                                svgIcon="heroicons_outline:eye"></mat-icon>
                            <span class="text-lg text-gray-500">មើល</span>
                        </button>
                        <button mat-menu-item (click)="delete(datas)" >
                            <mat-icon class="icon-size-5 text-red-400"
                                svgIcon="mat_solid:delete_outline"></mat-icon>
                            <span class="text-lg text-red-400">លុប</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
        <div *ngIf="data?.length === 0" class="flex flex-col justify-center items-center mb-4">
            <mat-icon class="icon-size-16" svgIcon="toc"></mat-icon>
            <span class="text-lg -mt-4">គ្មានទិន្នន័យ</span>
        </div>
    </div>
</section>