
<section class="receptionist-dashbord-section">
    <div class="receptionist-dashbord-container">
        <div class="dashbord-header">
            <div class="flex items-center">
                <img class="dashbord-avatar"[src]="fileUrl + user?.avatar" alt="avatar">
                <div class="flex flex-col justify-center pl-4 pb-2">
                    <strong class="text-3xl font-medium text-slate-900 dark:text-white">សូមស្វាគមន៍, {{user?.name}}</strong>
                    <span class="text-xl text-gray-500"> {{user?.role_name}} </span>
                </div>
            </div>
            
            <button mat-button class="bg-blue-500 px-8 py-6 rounded-2xl hover:bg-blue-500 cursor-pointer" (click)="create()">
                <span class="text-xl text-white"> ទាញយករបាយការណ៍ </span>
            </button>
        </div>
        <div class="receptionist-dashbord-body ">
            <form [formGroup]="firstFormGroup">
                <div class="receptionist-dashbord-data flex flex-col">
                    <div class="flex w-full gap-5">
                        <div class="sm-cart-container">
                            <div class="cart-container-header">
                                <span class="text-xl font-semibold text-slate-900 dark:text-white"> ទិន្នន័យសង្ខេប </span>
                                <div class="flex items-center">
                                    <span class="text-xl font-semibold text-end text-slate-900 dark:text-white"> {{monthDisplay.month}} </span>
                                    <mat-form-field class="hidden-input">
                                        <input matInput [matDatepicker]="picker" formControlName="month" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker 
                                          startView="year" 
                                          (monthSelected)="setMonth($event, picker, 'month')" 
                                          #picker 
                                          panelClass="month-only-datepicker">
                                        </mat-datepicker>
                                      </mat-form-field>   
                                    <!-- <button mat-icon-button>
                                        <mat-icon mat-icon-button class="icon-size-6" svgIcon="mat_outline:calendar_today"></mat-icon>
                                    </button> -->
                                </div>
                            </div>
                            <div class="cart-container-data">
                                <div class="state-item">
                                    <div class="item-icon bg-blue-100" >
                                        <mat-icon class="icon-size-8 -mb-0.5 text-blue-600" svgIcon="mdi:account-school-outline" />
                                    </div>
                                    <div class="item-text">
                                        <span class="text-xl font-medium" > {{data?.data?.statistic?.student?.total}} </span>
                                        <span class="text-lg text-gray-500"> ចំនួនសិស្ស </span>
                                    </div>
                                </div>
                                <div class="state-item">
                                    <div class="item-icon bg-green-100" >
                                        <mat-icon class="icon-size-8 -mb-0.5 text-green-600" svgIcon="mdi:currency-usd" />
                                    </div>
                                    <div class="item-text">
                                        <span class="text-xl font-medium" > ${{data?.data?.statistic?.invoice?.total_income}} </span>
                                        <span class="text-lg text-gray-500"> ចំណូលសរុប </span>
                                    </div>
                                </div>
                                <div class="state-item">
                                    <div class="item-icon bg-gray-200" >
                                        <mat-icon class="icon-size-8 -mb-0.5 text-gray-600" svgIcon="mat_outline:groups" />
                                    </div>
                                    <div class="item-text">
                                        <span class="text-xl font-medium" > {{data?.data?.statistic?.staff?.total_staff}}  </span>
                                        <span class="text-lg text-gray-500"> បុគ្គលិក </span>
                                    </div>
                                </div>
                                <div class="state-item">
                                    <div class="item-icon bg-cyan-50" >
                                        <mat-icon class="icon-size-8 -mb-0.5 text-cyan-400" svgIcon="heroicons_outline:academic-cap" />
                                    </div>
                                    <div class="item-text">
                                        <span class="text-xl font-medium" > {{ data?.data?.statistic?.classroom?.total_classroom }} </span>
                                        <span class="text-lg text-gray-500"> ថ្នាក់សិក្សា </span>
                                    </div>
                                </div>            
                            </div>
                        </div>
                        <div class="cart-container-chart">
                            <div class="cart-container-header">
                                <span class="text-xl font-semibold text-slate-900 dark:text-white"> ស្ថិតិចំណូល </span>
                                <div class="flex items-center">
                                    <span class="text-xl font-semibold text-end text-slate-900 dark:text-white"> {{monthDisplay.income_month}} </span>
                                    <mat-form-field class="hidden-input">
                                        <input matInput [matDatepicker]="picker1" formControlName="income_month" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker 
                                          startView="year" 
                                          (monthSelected)="setMonth($event, picker1, 'income_month')" 
                                          #picker1
                                          panelClass="month-only-datepicker">
                                        </mat-datepicker>
                                      </mat-form-field>   
                                    <!-- <button mat-icon-button>
                                        <mat-icon mat-icon-button class="icon-size-6" svgIcon="mat_outline:calendar_today"></mat-icon>
                                    </button> -->
                                </div>
                            </div>
                            <div class="cart-container-data-chart">
                                <helper-bar-chart [data]="dataChart" [label]="label" class="w-full"></helper-bar-chart>
                            </div>
                        </div>
                        <div class="cart-container-semi-chart">
                            <div class="cart-container-header">
                                <span class="text-xl font-semibold text-slate-900 dark:text-white"> ស្ថិតិចំណូល(តាមសាខា)</span>
                                    <div class="flex items-center">
                                        <span class="text-xl font-semibold text-end text-slate-900 dark:text-white"> {{monthDisplay.primary_income_month}} </span>
                                        <mat-form-field class="hidden-input">
                                            <input matInput [matDatepicker]="picker2" formControlName="primary_income_month" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker 
                                            startView="year" 
                                            (monthSelected)="setMonth($event, picker2, 'primary_income_month')" 
                                            #picker2
                                            panelClass="month-only-datepicker">
                                            </mat-datepicker>
                                        </mat-form-field>   
                                        <!-- <button mat-icon-button>
                                            <mat-icon mat-icon-button class="icon-size-6" svgIcon="mat_outline:calendar_today"></mat-icon>
                                        </button> -->
                                    </div>
                            </div>
                            <div class="w-full h-[300px] -translate-y-5 rounded-lg flex justify-center" >
                                <helper-semi-pie-chart class="md-semi-chart" [data]="semi_chart" [value]="value"></helper-semi-pie-chart>
                            </div>
                        </div>
                    </div> 
                    <div class="flex w-full pt-5">
                        <mat-tab-group class="w-full h-[25rem] bg-white p-4 rounded-2xl">
                            <!-- <mat-tab label="ពិនិត្យរបាយការណ៍"> Content 1 </mat-tab> -->
                            <mat-tab label="សិស្សថ្មីៗ">
                            <div class="cart-container-table dark:bg-black">
                                <div *ngIf="students.length > 0;"   class="cart-container-table-data">
        
                                        <div *ngFor="let student of students; let i = index;" class="flex h-16 px-4 py-2  w-full" [ngClass]="{ 'bg-gray-100': (i + 1) % 2 == 1 }">
                                        <div class="flex items-center">
                                            <img class="student-avatar" [src]="fileUrl + student?.avatar " alt="avatar">
                                            <div class="flex flex-col justify-center pl-2">
                                                <strong class="text-[17px] font-[300] text-slate-900 dark:text-white">{{student?.name}}</strong>
                                                <span class="text-[11px] text-gray-500">{{student?.code}}</span>
                                            </div>
                                        </div>
                                        <div class="flex items-center ml-auto ">
                                            <span class="w-50 truncate text-center pr-4">
                                                {{student?.date | date:'dd-MM-y'}}
                                            </span>
                                            <div class="flex items-center">
                                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                                    <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item (click)="viewStudent(student)">
                                                        <mat-icon class="icon-size-5 text-gray-500"
                                                            svgIcon="heroicons_outline:eye"></mat-icon>
                                                        <span class="text-lg text-gray-500">មើល</span>
                                                    </button>
                                                </mat-menu>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="students.length === 0" class="flex flex-col justify-center items-center mb-4">
                                    <mat-icon class="icon-size-16" svgIcon="toc"></mat-icon>
                                    <span class="text-lg -mt-4">គ្មានទិន្នន័យ</span>
                                </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="វិក្កយបត្រថ្មីៗ">  
                                <div class="cart-container-table dark:bg-black">
                                    <div *ngIf="invoices.length > 0;"   class="cart-container-table-data">
                                    <div *ngFor="let invoice of invoices; let i = index;" class="flex h-16 px-4 py-2  w-full" [ngClass]="{ 'bg-gray-100': (i + 1) % 2 == 1 }">
                                        <div class="flex items-center">
                                            <mat-icon class="icon-size-6"  svgIcon="mdi:receipt-text-outline"></mat-icon>
                                            <div class="flex flex-col justify-center pl-2">
                                                <strong class="text-[17px] font-[300] text-slate-900 dark:text-white">{{invoice?.code}}</strong>
                                                <span class="text-[11px] text-gray-500">{{invoice?.create_at}}</span>
                                            </div>
                                        </div>
                                        <div class="flex items-center ml-auto ">
                                            <span class="w-30 truncate text-center pr-100">
                                                {{ invoice?.price | number: '1.0-0' }} $
                                            </span>
                                            <span class="w-40 truncate text-center pr-4"  [ngClass]="getStatusClass(invoice?.status)">
                                                {{invoice?.status}}
                                            </span>
                                            <div class="flex items-center">
                                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                                    <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item (click)="viewStudent(student)">
                                                        <mat-icon class="icon-size-5 text-gray-500"
                                                            svgIcon="heroicons_outline:eye"></mat-icon>
                                                        <span class="text-lg text-gray-500">មើល</span>
                                                    </button>
                                                </mat-menu>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="invoices.length === 0" class="flex flex-col justify-center items-center mb-4">
                                    <mat-icon class="icon-size-16" svgIcon="toc"></mat-icon>
                                    <span class="text-lg -mt-4">គ្មានទិន្នន័យ</span>
                                </div>
                                </div>  </mat-tab>
                        </mat-tab-group>
                        
                        
                    </div>
                </div>
            </form>
    
         
           
         </div>
    </div>
   
</section>