<section class="list-student-section">
    <div class="list-student-container" @fadeInCustom>
        <!-- header of student  -->
        <div class="shared-header-section">
            <div class="flex flex-1 items-center font-medium">
                <div class="flex items-center">
                    <mat-icon
                        class="icon-size-5 -mt-0.5"
                        svgIcon="heroicons_outline:home"
                    />
                </div>
                <div class="flex items-center ml-1.5">
                    <span class="text-lg text-gray-600 -mb-0.5">សិស្ស</span>
                </div>
            </div>
            <div class="flex items-center gap-2">
                @if(path === 'general-manager') {
                <div
                    class="sm-form-field-appearance-outline height-header hidden sm:flex"
                >
                    <mat-form-field appearance="outline" class="max-w-36">
                        <mat-select
                            [(ngModel)]="branch_name"
                            (selectionChange)="sortByBranch()"
                        >
                            <mat-option value="ទាំងអស់">ទាំងអស់</mat-option>
                            <mat-option
                                *ngFor="let item of branches"
                                [value]="item"
                                >{{ item }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                </div>
                }
                <div class="min-w-56 max-w-56 shared-input-filter">
                    <button
                        class="min-w-10 max-w-10 pl-1 h-full pt-1.5 hover:opacity-[0.96] transition-all"
                    >
                        <mat-icon
                            class="icon-size-6 text-slate-500"
                            svgIcon="heroicons_outline:magnifying-glass"
                        />
                    </button>
                    <input
                        placeholder="ស្វែងរក"
                        class="w-full pr-3 h-10"
                        [(ngModel)]="key"
                        (keyup.enter)="listing()"
                    />
                    <button
                        mat-icon-button
                        class="mr-1 custom-icon-button"
                        (click)="filter()"
                    >
                        <mat-icon
                            class="icon-size-6 text-slate-500"
                            svgIcon="filter_list"
                        />
                    </button>
                </div>
                @if(path === 'receptionist') {
                <button
                    class="helpers-mat-button-sm px-2"
                    mat-stroked-button
                    routerLink="/receptionist/students/create"
                >
                    <mat-icon
                        class="icon-size-4"
                        svgIcon="heroicons_outline:plus"
                    />
                </button>
                }
            </div>
        </div>
        <!-- body of student  -->
        <div class="list-student-body">
            <!-- data  -->
            <div class="list-student-data">
                <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
                    <ng-container matColumnDef="profile">
                        <th mat-header-cell *matHeaderCellDef>
                            គោត្តនាម និង នាម
                        </th>
                        <td mat-cell *matCellDef="let item">
                            <duv class="flex">
                                <img
                                    class="student-avatar"
                                    [src]="fileUrl + item.avatar"
                                    alt="avatar"
                                />
                                <div class="flex flex-col justify-center pl-2">
                                    <strong
                                        class="text-lg font-medium text-slate-900 dark:text-white"
                                        >{{ item?.name }}</strong
                                    >
                                    <span class="text-sm text-gray-500">{{
                                        item?.code
                                    }}</span>
                                </div>
                            </duv>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="sex">
                        <th mat-header-cell *matHeaderCellDef>ភេទ</th>
                        <td mat-cell *matCellDef="let item">
                            <span class="text-gray-500">{{ item?.sex }} </span>
                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="campus">
                        <th mat-header-cell *matHeaderCellDef> សាខា </th>
                        <td mat-cell *matCellDef="let item">
                            <span class="text-gray-500">{{ item?.branch }} </span>
                        </td>
                    </ng-container> -->
                    <ng-container matColumnDef="class">
                        <th mat-header-cell *matHeaderCellDef>ថ្នាក់</th>
                        <td mat-cell *matCellDef="let item">
                            <span class="text-gray-500"
                                >{{ item?.grade }}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>
                            កាលបរិច្ឆេទ​ចុះឈ្មោះ
                        </th>
                        <td mat-cell *matCellDef="let item">
                            <span class="text-gray-500">{{
                                item?.created_at | date : "dd-MM-y"
                            }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let item">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon
                                    class="icon-size-6"
                                    svgIcon="mat_outline:more_vert"
                                ></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="view(item)">
                                    <mat-icon
                                        class="icon-size-5 text-gray-500"
                                        svgIcon="heroicons_outline:eye"
                                    ></mat-icon>
                                    <span class="text-lg text-gray-500"
                                        >មើល</span
                                    >
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumns; sticky: true"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>
                <div *ngIf="dataSource.data.length <= 0" class="flex flex-col justify-center items-center mb-4">
                    <mat-icon class="icon-size-16" svgIcon="toc"></mat-icon>
                    <span class="text-lg -mt-4">គ្មានទិន្នន័យ</span>
                </div>
            </div>
            <!-- pagination -->
            <mat-paginator
                class="flex justify-end overflow-hidden"
                [pageSizeOptions]="[15, 30, 45]"
                [showFirstLastButtons]="true"
                [pageIndex]="page - 1"
                [length]="total"
                [pageSize]="limit"
                (page)="onPageChanged($event)"
            >
            </mat-paginator>
        </div>
    </div>
</section>
