<div class="helper-navigation-wrapper">
    <!-- Header -->
    <div class="helper-navigation-content-header">
        <ng-content select="[helperNavigationContentHeader]"></ng-content>
    </div>

    <!-- Content -->
    <div class="helper-navigation-content" helperScrollbar [helperScrollbarOptions]="{
            wheelPropagation: inner,
            suppressScrollX: true,
        }" #navigationContent>

        <!-- Items -->
        @for (item of navigations; track trackByFn($index, item)) {
        <!-- Skip the hidden items -->
        @if ((item.hidden && !item.hidden(item)) || !item.hidden) {

        <!-- Basic -->
        @if (item.type === 'basic') {
        <helper-navigation-basic-item [item]="item" [name]="name"></helper-navigation-basic-item>
        }

        <!-- Collapsable -->
        @if (item.type === 'collapsable') {
        <helper-navigation-collapsable-item [item]="item" [name]="name"
            [autoCollapse]="autoCollapse"></helper-navigation-collapsable-item>
        }

        <!-- Divider -->
        @if (item.type === 'divider') {
        <helper-navigation-divider-item [item]="item" [name]="name"></helper-navigation-divider-item>
        }

        <!-- Group -->
        @if (item.type === 'group') {
        <helper-navigation-group-item [item]="item" [name]="name"
            [autoCollapse]="autoCollapse"></helper-navigation-group-item>
        }
        }
        }

        <!-- Content footer -->
        <div class="helper-navigation-content-footer">
            <ng-content select="[helperNavigationContentFooter]"></ng-content>
        </div>
    </div>
</div>
