<div mat-dialog-title  class="shared-header-section">
    <!-- header of student detail -->
    <div class="flex flex-1 items-center font-medium"> 
        <div class="flex items-center ml-1.5">
            <span class="text-3xl font-semibold text-gray-600 -mb-0.5"> ធនាគារ </span>
        </div>
    </div>
    <div class="flex items-center gap-4">
        <button mat-icon-button class="flex items-center" (click)="closeDialog()" >
            <mat-icon class="icon-size-6 mt-1" svgIcon="mat_outline:close" />
        </button>
    </div>      
</div>
<mat-dialog-content class="w-[600px] h-full border-t-2">
    <div class="view-student-detail-data relative flex flex-col items-center ">
        <button mat-icon-button class="top-6 right-6 absolute" (click)="update(data)">
            <mat-icon class="icon-size-6 " svgIcon="feather:edit"   />
        </button>
        <div class="flex gap-4 pt-4">      
            <img [src]="fileUrl + data.icon" class="bank-image" alt="">
            <img [src]="fileUrl + data.qr_icon" class="bank-image" alt="">

        </div>
        <span class="pt-4 pb-2 text-3xl font-semibold text-black">{{data?.name}}</span>
        <div class="py-2 flex items-center gap-4 justify-center">
            <mat-icon class="icon-size-6 -mt-0.5" svgIcon="mdi:account-outline" />
            <span class="text-xl"> {{data?.account_name}} </span>
        </div>
        <div class="py-2 flex items-center gap-4 justify-center">
            <mat-icon class="icon-size-6 -mt-0.5" svgIcon="mdi:bank-outline" />
            <span class="text-xl"> {{data?.account_number | number: '1.0-0'}} </span>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions></mat-dialog-actions>
