.barchart {
    height: 400px;
    width: 100%;
}

@media (max-width: 1024px) {
    .barchart {
        /* Adjust width or height for tablets or smaller screens */
        width: 50%; /* Adjust as needed */
    }
}

@media (max-width: 768px) {
    .helper-bar-chart-container {
        /* Further adjust for mobile screens */
        min-width: 50%; /* Adjust as needed */
    }
}
