<section class="view-file-section">
    <div class="lg-shared-header-section header-section">
        <div class="flex items-center ml-1.5 gap-4">
            <mat-icon class="icon-size-8" svgIcon="mat_outline:auto_graph"></mat-icon>
            <span class="text-2xl font-semibold text-gray-600 -mb-0.5"> ស្ថិតិ </span>
        </div>
    </div>    
    <div class="view-file-data">
        <div class="view-state">
            <div class="state-item">
                <div class="item-icon bg-green-100" >
                    <mat-icon class="icon-size-8 -mb-0.5 text-green-600" svgIcon="feather:user" />
                </div>
                <div class="item-text">
                    <span class="text-3xl font-medium" > {{data?.total_students}} </span>
                    <span class="text-xl text-gray-500"> ចំនួនសិស្ស </span>
                </div>
            </div>  
             
            <div class="state-item">
                <div class="item-icon bg-red-100" >
                    <mat-icon class="icon-size-8 -mb-0.5 text-red-600" svgIcon="heroicons_outline:clock" />
                </div>
                <div class="item-text">
                    <span class="text-3xl font-medium" > {{data?.total_shifts}} </span>
                    <span class="text-xl text-gray-500"> ចំនួនម៉ោងសិក្សា </span>
                </div>
            </div> 
            
            <!-- <div class="state-item">
                <div class="item-icon bg-yellow-100" >
                    <mat-icon class="icon-size-8 -mb-0.5 text-yellow-600" svgIcon="mat_outline:door_front" />
                </div>
                <div class="item-text">
                    <span class="text-3xl font-medium" > 2 </span>
                    <span class="text-xl text-gray-500"> ចំនួនបន្ទប់ </span>
                </div>
            </div> 

            <div class="state-item">
                <div class="item-icon bg-yellow-100" >
                    <mat-icon class="icon-size-8 -mb-0.5 text-yellow-600" svgIcon="mat_solid:check" />
                </div>
                <div class="item-text">
                    <span class="text-3xl font-medium" > 2 </span>
                    <span class="text-xl text-gray-500"> ===== </span>
                </div>
            </div>  -->
            
            
            
            
        </div>
    </div>
</section>

