<section class="view-student-section">
    <div class="view-student-container" @fadeInCustom>
         <div class="shared-header-section">
             <!-- header of student  -->
             <div class="flex flex-1 items-center font-medium"> 
                 <button mat-icon-button class="flex mt-1 items-center" (click)="back()" >
                     <mat-icon class="icon-size-8 " svgIcon="mat_outline:chevron_left"/>
                 </button>
                 <div class="flex items-center ml-1.5">
                     <span class="text-3xl font-semibold text-gray-600 -mb-0.5"> {{ generalData?.name }} </span>
                 </div>
             </div>
         </div>    
         <div class="view-student-body">
             <!-- body of tabs -->
             <mat-tab-group class="mat-tab-flex-grow" 
              >

                 <mat-tab label="ទូទៅ">  
                    <ng-template matTabContent>
                        <prinicple-view-employee-general [id]="id" (UpdateName)="onNameUpdate($event)"></prinicple-view-employee-general>
                    </ng-template>
                 </mat-tab>
                 <mat-tab label="ឯកសារ">
                    <ng-template matTabContent>
                        <prinicple-view-employee-file [id]="id"></prinicple-view-employee-file>  
                    </ng-template>               
                 </mat-tab>
             </mat-tab-group>
         </div>
    </div>
 </section>
 
 