<div class="container-section">
    <div>
        <div class=" flex justify-between py-8  h-[350px] border-b">
            <div class="w-3/12 flex flex-col justify-start items-center gap-1">
                <div class="w-[400px] h-[300px] flex justify-center" >
                    <helper-semi-pie-chart class="sm-chart" [value]="value" [data]="semi_chart"></helper-semi-pie-chart>
                </div>
            </div>
            <div class="md:w-8/12 sm:w-5/12 flex-col gap-y-12">
                <div class="w-full flex flex-1 px-3 items-center font-medium h-12 py-7 gap-4 "> 
                    <span class="text-xl min-w-36">ចាប់ផ្តើម​​</span>
                    <span class="text-xl">៖</span>
                    <strong class="text-xl font-medium text-slate-500 dark:text-white"> {{formatKhmerDateRange(data?.from_year)}} - {{formatKhmerDateRange(data?.to_year)}}</strong>                       
                </div>
                <div class="w-full flex flex-1 px-3 items-center font-medium h-12 py-7 gap-4 border-t"> 
                    <span class="text-xl min-w-36">ឆមាសទី 1</span>
                    <span class="text-xl">៖</span>
                    <strong class="text-xl font-medium text-slate-500 dark:text-white"> {{formatKhmerDateRange(data?.semesters[0]?.start_date)}} - {{formatKhmerDateRange(data?.semesters[0]?.finish_date)}}</strong>                       
                </div>
                <div class="w-full flex flex-1 px-3 items-center font-medium h-12 py-7 gap-4 border-t"> 
                    <span class="text-xl min-w-36">ឆមាសទី 2</span>
                    <span class="text-xl">៖</span>
                    <strong class="text-xl font-medium text-slate-500 dark:text-white"> {{formatKhmerDateRange(data?.semesters[1]?.start_date)}} - {{formatKhmerDateRange(data?.semesters[1]?.finish_date)}}</strong>                           
                </div>
            </div>
            <div class="w-1/12 flex justify-center">
                <button mat-icon-button class="flex mt-1 items-center" (click)="update()" >
                    <mat-icon class="icon-size-6 " svgIcon="feather:edit"/>
                </button>
            </div>
        </div>
        
    </div>
</div>