<section class="view-student-section">
    <div *ngIf="data" class="view-student-container" @fadeInCustom>
        <div class="shared-header-section">
            <!-- header of student  -->
            <div class="flex flex-1 items-center font-medium">
                <button
                    mat-icon-button
                    class="flex items-center"
                    (click)="back()"
                >
                    <mat-icon
                        class="icon-size-8 mt-1"
                        svgIcon="mat_outline:chevron_left"
                    />
                </button>

                <div class="flex items-center ml-1.5">
                    <span class="text-3xl font-semibold text-gray-500 -mb-0.5">
                        {{ data.general?.academic_name }} /
                        {{ data?.general?.grade_name }} /
                        {{ data?.general?.language_name }} /
                        {{ data?.general?.schedule_name }}
                    </span>
                </div>
            </div>
        </div>
        <div class="view-student-body">
            <!-- body of tabs -->
            <mat-tab-group class="mat-tab-flex-grow">
                <mat-tab label="ទូទៅ">
                    <teacher-class-room-general
                        [data]="data.general"
                    ></teacher-class-room-general>
                </mat-tab>

                <mat-tab label="សិស្ស">
                    <!-- body of student classroom -->
                    <teacher-class-room-student
                        [data]="data.students"
                        [id]="id"
                    ></teacher-class-room-student>
                </mat-tab>

                <mat-tab label="កាលវិភាគ">
                    <teacher-classroom-schedule
                        [id]="id"
                        [data]="data.schedules"
                    ></teacher-classroom-schedule>
                </mat-tab>
                <mat-tab label="ការបង្រៀន">
                    <teacher-class-room-teaching
                        [data]="data.classroom_shifts"
                        [general]="data.general"
                        [id]="id"
                    ></teacher-class-room-teaching>
                </mat-tab>

                <mat-tab label="របាយការណ៍">
                    <teacher-class-room-report
                        [id]="id"
                    ></teacher-class-room-report>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>
