<div class="list-user-section bg-slate-100 ">
    <div class="list-user-container" @fadeInCustom>
        <div class="header-section">
                <div class="flex flex-1 items-center font-medium">
                    <div class="flex items-center">
                        <mat-icon class="icon-size-5 -mt-0.5" svgIcon="heroicons_outline:home" />
                    </div>
                    <div class="flex items-center ml-1.5">
                        <span class="text-lg text-gray-600 -mb-0.5"> គ្រូបង្រៀន​ </span>
                    </div>
                </div>
                <div class="flex items-center gap-2">
                    <!-- <div class="sm-form-field-appearance-outline height-header hidden sm:flex">
                        <mat-form-field appearance="outline" class="max-w-36">
                            <mat-select [(ngModel)]="branch_name" (selectionChange)="sortByBranch()">
                                <mat-option value="ទាំងអស់">ទាំងអស់</mat-option> 
                                <mat-option *ngFor="let item of branches" [value]="item">{{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                    @if (path === 'principal') {
                        <div class="sm-form-field-appearance-outline height-header hidden sm:flex pr-2">
                            <mat-form-field appearance="outline" class="max-w-36">
                              <mat-label>កម្រិត</mat-label> 
                              <mat-select [(ngModel)]="levelid" (selectionChange)="listing()">
                                  <mat-option [value]="0">ទាំងអស់</mat-option> 
                                  <mat-option *ngFor="let item of levels" [value]="item.id">{{item.name}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                        </div>
                    }
                    <div class="min-w-56 max-w-56 shared-input-filter">
                        <button class="min-w-10 max-w-10 pl-1 h-full pt-1.5 hover:opacity-[0.96] transition-all">
                            <mat-icon class="icon-size-6 text-slate-500" svgIcon="heroicons_outline:magnifying-glass" />
                        </button>
                        <input placeholder="ស្វែងរក" class="w-full pr-3 h-10" [(ngModel)]="key" (keyup.enter)="listing()">
                        @if (path === 'general-manager') {
                            <button mat-icon-button class="mr-1 custom-icon-button" (click)="search()">
                                <mat-icon class="icon-size-6 text-slate-500" svgIcon="filter_list" />
                            </button>
                        }
                    </div>
                </div>
        </div>
        <div class="bg-white list-user-body ">
            <div class=" list-user-data ">
                <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length> 0">
                    <ng-container matColumnDef="profile">
                        <th mat-header-cell *matHeaderCellDef class="w-140 z-10"> គោត្តនាម និង នាម </th>
                        <td mat-cell *matCellDef="let data">
                            <div class="flex" href="" target="_blank">
                                <div class="p-2 pl-0">
                                    <img class="rounded-full border border-blue-600 min-w-[45px] max-w-[45px] min-h-[45px] max-h-[45px] object-cover"
                                        [src]="fileUrl + data.avatar" alt="avatar">
                                </div>
                                <div class="flex flex-col min-h-12 max-h-12 justify-center pl-1 pt-2.5">
                                    <strong class="text-lg font-medium text-slate-900">{{ data?.name | capitalize}}</strong>
                                    <span class="text-sm text-gray-500">{{ data?.phone }}</span>
                                </div>
                            </div>
                        </td>
                    </ng-container>
                    @if (path === 'general-manager') {
                        <ng-container matColumnDef="branch">
                            <th mat-header-cell *matHeaderCellDef class="z-10 w-30"> សាខា </th>
                            <td mat-cell *matCellDef="let data">
                                <span class="truncate w-20 text-gray-500">{{ data?.branch_name }} </span>
                            </td>
                        </ng-container>
                    }
                    <ng-container matColumnDef="level">
                        <th mat-header-cell *matHeaderCellDef class="z-10 w-20" > កម្រិត​ </th>
                        <td mat-cell *matCellDef="let data">
                            <span class="truncate w-20 text-gray-500">{{ data?.classrooms[0].level_name }} </span>
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="class">
                        <th mat-header-cell *matHeaderCellDef class="z-10 w-30 text-end"> ចំនួនថ្នាក់បង្រៀន </th>
                        <td mat-cell *matCellDef="let data" class="text-end">
                            <span class="truncate text-gray-500 w-40"> {{ data?.total_classrooms }} </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="date" class="w-40" >
                        <th mat-header-cell *matHeaderCellDef class=" text-center z-10 w-40"> សកម្មភាពចុងក្រោយ </th>
                        <td mat-cell *matCellDef="let data" class="text-center">
                            <span class="truncate max-w-20 text-gray-500">{{ formatDate(data?.created_at) }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef class="z-10"></th>
                        <td mat-cell *matCellDef="let data" class="text-end">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="view(data)">
                                    <mat-icon class="icon-size-5 text-gray-500" svgIcon="heroicons_outline:eye"></mat-icon>
                                    <span class="text-lg text-gray-500">មើល</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                   @if (path === 'general-manager') {
                    <tr mat-header-row *matHeaderRowDef="GMdisplayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: GMdisplayedColumns;"></tr>
                   }
                   @if (path === 'principal') {
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                   }
                </table>
                <div *ngIf="dataSource.data.length === 0" class="flex flex-col justify-center items-center mb-4">
                    <mat-icon class="icon-size-16" svgIcon="toc"></mat-icon>
                    <span class="text-lg -mt-4">គ្មានទិន្នន័យ</span>
                </div>
            </div>
            <mat-paginator class="w-full flex items-end justify-end overflow-hidden rounded-b-xl"
                [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [pageIndex]="page - 1" [length]="total"
                [pageSize]="limit" (page)="onPageChanged($event)">
            </mat-paginator>         
        </div>  
    </div>
</div>

