<!-- otp form -->
<ng-container *ngIf="isOtpForm[0]">
    <div class="self-end relative flex flex-col gap-4 w-full h-full page-transition">
        <!-- back button to go back to login form -->
        <button class="hover:brightness-95 absolute top-0 left-0 p-2 flex items-center justify-center bg-gray-100 w-fit h-fit rounded-full scale-90 md:scale-100" (click)="toLogin()">
            <mat-icon class="icon-size-5 text-slate-600" svgIcon="feather:arrow-left"></mat-icon>
        </button>

        <!-- form description -->
        <div class="my-4 flex flex-col gap-2 items-center">
            <div class="p-3 bg-gray-100 w-fit h-fit rounded-full flex items-center justify-center scale-90 md:scale-100">
                <mat-icon class="icon-size-10 text-black" svgIcon="mat_solid:password"></mat-icon>
            </div>
            <p class="text-xl md:text-2xl w-fit font-bold"> ផ្ទៀងផ្ទាត់គណនី </p>
            <div class="text-center font-medium text-wrap text-sm sm:text-lg">
                <p>សូមពិនិត្យមើលប្រអប់សាររបស់អ្នក</p> 
                <p>{{ phone }}</p>
            </div>
        </div>

        <div class="flex flex-col grow relative">
            <div class="flex gap-1 scale-95 sm:scale-100 sm:gap-3 justify-center">
               <input class="custom-input" #input1 [(ngModel)]="numStr1" (keydown)="keyDownHandler1($event)"
                     [maxlength]="1" [ngClass]="numStr1? 'custom-input-active' : 'custom-input-exit-animation'" type="password"/>
                <input class="custom-input" #input2 [(ngModel)]="numStr2" (keydown)="keyDownHandler2($event)"
                     [maxlength]="1" [ngClass]="numStr2? 'custom-input-active' : 'custom-input-exit-animation'" type="password"/>
                <input class="custom-input" #input3 [(ngModel)]="numStr3" (keydown)="keyDownHandler3($event)"
                     [maxlength]="1" [ngClass]="numStr3? 'custom-input-active' : 'custom-input-exit-animation'" type="password"/>
                <input class="custom-input" #input4 [(ngModel)]="numStr4" (keydown)="keyDownHandler4($event)"
                     [maxlength]="1" [ngClass]="numStr4? 'custom-input-active' : 'custom-input-exit-animation'" type="password"/>
                <input class="custom-input" #input5 [(ngModel)]="numStr5" (keydown)="keyDownHandler5($event)"
                     [maxlength]="1" [ngClass]="numStr5? 'custom-input-active' : 'custom-input-exit-animation'" type="password"/>
                <input class="custom-input" #input6 [(ngModel)]="numStr6" (keydown)="keyDownHandler6($event)"
                     [maxlength]="1" [ngClass]="numStr6? 'custom-input-active' : 'custom-input-exit-animation'" type="password"/>
            </div>
        </div>

        <div class="flex flex-col gap-2">
            <div class="w-full flex justify-end">
                <!-- <p class="text-[#0c7ea5] font-bold text-sm sm:text-base"> ពេលវេលានៅសល់: {{ formatTime(remainingTime) }}</p> -->
                <p class="underline font-bold cursor-pointer text-sm sm:text-base" (click)="resendOtp()"> ផ្ញើ OTP ម្តងទៀត </p>
            </div>

            <button class="w-full mt-7 text-white bg-[#09235f]" [disabled]="!canSubmit || isLoading" mat-flat-button
                (click)="verify() ">
                <span *ngIf=" !isLoading ">ផ្ទៀងផ្ទាត់</span>
                <mat-progress-spinner *ngIf=" isLoading " [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>

            <span class="text-center">ឬ</span>
            <button class="helper-mat-button-large w-full rounded-lg bg-white ring-1 ring-[#09235f] text-center"
                mat-flat-button [color]="'primary'" (click)="changeToPassword()">
                <span class="text-[#09235f] text-center"> ចូលប្រព័ន្ធតាម Password </span>
            </button>
        </div>
    </div>
</ng-container>




<!-- ============= password form ========== -->
<ng-container *ngIf="isOtpForm[1]">
    <!-- im using form because there is styling for form already and if i use anything else it wont look good -->
    <form class="self-end relative flex flex-col gap-4 w-full h-full page-transition" [formGroup]="passwordForm">
        <!-- back button to go back to login form -->
        <button class="hover:brightness-95 absolute top-0 left-0 p-2 flex items-center justify-center bg-gray-100 w-fit h-fit rounded-full scale-90 md:scale-100" (click)="changeToOtp()">
            <mat-icon class="icon-size-5 text-slate-600" svgIcon="feather:arrow-left"></mat-icon>
        </button>

        <!-- form description -->
        <div class="my-4 flex flex-col gap-2 items-center">
            <div class="p-3 bg-gray-100 w-fit h-fit rounded-full flex items-center justify-center scale-90 md:scale-100">
                <mat-icon class="icon-size-10 text-black" svgIcon="mat_outline:lock"></mat-icon>
            </div>
            <p class="text-xl md:text-2xl w-fit font-bold"> ផ្ទៀងផ្ទាត់គណនី</p>
            <div class="text-center font-medium text-wrap text-sm sm:text-lg">
                <p>សូមបញ្ចូលពាក្យសម្ងាត់ដែលត្រូវវង្កើតជាមួយគណនី</p> 
                <p>{{ phone }}</p>
            </div>
        </div>

        <div class="flex flex-col grow relative md-form-field-appearance-outline">
            <mat-form-field class="w-full thick-border">
                <mat-label>លេខសម្ងាត់</mat-label>
                <input id="password" type="password" matInput formControlName="password" #passwordField/>
                
                <mat-error> សូមបញ្ចូលពាក្យសម្ងាត់ </mat-error>
                <button mat-icon-button type="button" (click)="
                    passwordField.type === 'password'
                        ? (passwordField.type = 'text')
                        : (passwordField.type = 'password')
                    " matSuffix>
                    <mat-icon *ngIf="passwordField.type === 'password'" class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    
                    <mat-icon *ngIf="passwordField.type === 'text'" class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    
                </button>

            </mat-form-field>
        </div>

        <div class="w-full">
            <button class="helper-mat-button-large w-full bg-[#0c7ea5] rounded-lg text-center"
                mat-flat-button [color]="'primary'" [disabled]="passwordForm.invalid || isLoading" (click)="verifypassword()">
               
                <span *ngIf="!isLoading" class="text-white text-center"> បន្ទាប់ </span>
                
                <mat-progress-spinner *ngIf="isLoading" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                
            </button>
        </div>
    </form>
</ng-container>


<!-- 2fa form -->
<ng-container *ngIf="isOtpForm[2]">
    <div class="self-end relative flex flex-col gap-4 w-full h-full page-transition">
        <!-- back button to go back to login form -->
        <button class="hover:brightness-95 absolute top-0 left-0 p-2 flex items-center justify-center bg-gray-100 w-fit h-fit rounded-full scale-90 md:scale-100" (click)="toLogin()">
            <mat-icon class="icon-size-5 text-slate-600" svgIcon="feather:arrow-left"></mat-icon>
        </button>

        <!-- form description -->
        <div class="my-4 flex flex-col gap-2 items-center">
            <div class="p-3 bg-gray-100 w-fit h-fit rounded-full flex items-center justify-center scale-90 md:scale-100">
                <mat-icon class="icon-size-10 text-black" svgIcon="mat_solid:password"></mat-icon>
            </div>
            <p class="text-xl md:text-2xl w-fit font-bold"> ផ្ទៀងផ្ទាត់2FA </p>
            <div class="text-center font-medium text-wrap text-sm sm:text-lg">
                <p>សូមពិនិត្យមើលកម្មវិធី Authenticator 2FA របស់អ្នក</p> 
            </div>
        </div>

        <div class="flex flex-col grow relative">
            <div class="flex gap-1 scale-95 sm:scale-100 sm:gap-3 justify-center">
               <input class="custom-input" #input1 [(ngModel)]="numStr1" (keydown)="keyDownHandler1($event)"
                    [placeholder]="'X'" [maxlength]="1" />
                <input class="custom-input" #input2 [(ngModel)]="numStr2" (keydown)="keyDownHandler2($event)"
                    [placeholder]="'X'" [maxlength]="1" />
                <input class="custom-input" #input3 [(ngModel)]="numStr3" (keydown)="keyDownHandler3($event)"
                    [placeholder]="'X'" [maxlength]="1" />
                <input class="custom-input" #input4 [(ngModel)]="numStr4" (keydown)="keyDownHandler4($event)"
                    [placeholder]="'X'" [maxlength]="1" />
                <input class="custom-input" #input5 [(ngModel)]="numStr5" (keydown)="keyDownHandler5($event)"
                    [placeholder]="'X'" [maxlength]="1" />
                <input class="custom-input" #input6 [(ngModel)]="numStr6" (keydown)="keyDownHandler6($event)"
                    [placeholder]="'X'" [maxlength]="1" />
            </div>
        </div>

        <div class="flex flex-col gap-2">

            <button class="w-full mt-12 text-white bg-[#0c7ea5]" [disabled]="!canSubmit || isLoading" mat-flat-button
                (click)="verify2fa() ">
                <span *ngIf=" !isLoading ">ផ្ទៀងផ្ទាត់</span>
                <mat-progress-spinner *ngIf=" isLoading " [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
        </div>
    </div>
</ng-container>