<section class="view-file-section overflow-x-hidden">
    <div class="lg-shared-header-section header-section">
        <div class="w-full flex items-center justify-between pl-1.5 gap-4">
            <span class="text-2xl font-semibold text-gray-600 -mb-0.5">
                {{dataSource.data.length}} ឯកសារ
            </span>
            <div class="flex justify-end items-center gap-4">
                <mat-icon
                class="icon-size-6 cursor-pointer"
                (click)="upload()"
                svgIcon="heroicons_outline:plus"
            />
                <mat-icon *ngIf="selectedFiles.length > 0"
                    class="text-gray-500 cursor-pointer"
                    svgIcon="mat_outline:file_download"
                    (click)="downloadAsZip(selectedFiles)"
                />
                <button
                    mat-icon-button
                    class="mr-1 custom-icon-button"
                    *ngIf="isGrid === false"
                    (click)="ChangeView()"
                >
                    <mat-icon
                        class="icon-size-6 text-slate-500"
                        svgIcon="mat_outline:grid_view"
                    />
                </button>
                <button
                    mat-icon-button
                    class="mr-1 custom-icon-button"
                    *ngIf="isGrid === true"
                    (click)="ChangeView()"
                >
                    <mat-icon
                        class="icon-size-6 text-slate-500"
                        svgIcon="heroicons_solid:list-bullet"
                    />
                </button>
            </div>
        </div>
    </div>
    <div class="view-file-data">
        <table mat-table [dataSource]="dataSource" *ngIf="isGrid === false">
            <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                        class="mt-1"
                        [(ngModel)]="selectAllChecked"
                        [checked]="selectAllChecked"
                        (change)="selectAll()"
                    ></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let item">
                    <mat-checkbox
                        class="mt-1.5"
                        [(ngModel)]="item.checked"
                        [checked]="item.checked"
                        (change)="selectFile(item)"
                    ></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="profile">
                <th mat-header-cell *matHeaderCellDef>ឈ្មោះ</th>
                <td mat-cell *matCellDef="let item">
                    <div class="flex justify-start gap-5">
                        <img
                            class="h-5 w-5"
                            [src]="fileUrl + item.extension?.icon"
                            alt=""
                        />
                        <span class="text-xl"> {{ item?.name }} </span>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="create">
                <th mat-header-cell *matHeaderCellDef>បង្កើត</th>
                <td mat-cell *matCellDef="let item">
                    <div class="flex w-full items-center justify-start">
                        <img
                            [src]="fileUrl + item?.uploadedBy?.avatar"
                            class="rounded-full border border-blue-600 min-w-[35px] max-w-[35px] min-h-[35px] max-h-[35px] object-cover"
                            alt="avatar"
                        />
                        <div class="flex flex-col justify-center pl-2">
                            <strong
                                class="text-[17px] font-[400] text-slate-900 dark:text-white "
                                >{{ item?.uploadedBy?.name }}</strong
                            >
                            <span class="text-[11px] text-gray-500">{{
                                item?.updated_at | date : "dd-MM-y"
                            }}</span>
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef>ទំហំ</th>
                <td mat-cell *matCellDef="let item">
                    <span class="text-gray-500">{{ (item?.size / (1024 * 1024)).toFixed(2) }} MB</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let item">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon
                            class="icon-size-6"
                            svgIcon="mat_outline:more_vert"
                        ></mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="viewer(item)">
                            <mat-icon
                                class="icon-size-5 text-gray-500"
                                svgIcon="heroicons_outline:eye"
                            ></mat-icon>
                            <span class="text-lg text-gray-500">មើល</span>
                        </button>
                        <button mat-menu-item (click)="downloadImage(item)">
                            <mat-icon
                                class="text-gray-500 cursor-pointer"
                                svgIcon="mat_outline:file_download"
                            ></mat-icon>
                            <span class="text-lg text-gray-500">ទាញយក</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</section>
