.list-payment-section {
    height: calc(100dvh - 3.5rem) !important; // 56px is header of layout
    @apply overflow-hidden p-4 #{'!important'};

    .list-payment-container {
        height: calc(100dvh - 5.5rem) !important; // 56px(layout) + 32px(padding-y) is 88px
        @apply bg-white dark:bg-opacity-5 rounded-xl overflow-hidden #{'!important'};

        // shared-header-section: have h-14 is 56px
        .list-payment-body,
        .no-data {
            height: calc(100dvh - 9rem) !important; // 56px(layout) + 16px(padding-y) + 56px is 144px
            @apply overflow-hidden border-t mx-4 #{'!important'};
        }

        // paginatino: have h-12 is 48px
        .list-payment-body {
            .list-payment-data {
                height: calc(100dvh - 12rem); //9rem + 3rem is 192px
                @apply overflow-auto #{'!important'};
            }
        }
    }

}

.list-payment-data {

    .student-avatar {
        @apply rounded-full border border-blue-600 min-w-[45px] max-w-[45px] min-h-[45px] max-h-[45px] object-cover #{!important};
    }

    .mat-mdc-header-cell {
        font-size: 1rem !important;
        padding: 0 !important;
        color: #0f172a !important;
        z-index: 10 !important;
        padding: 0.5rem !important;
        @apply dark:text-white #{!important};
    }

    .mat-mdc-cell {
        padding: 0.5rem !important;
    }

    .mat-column-code {
        min-width: 20rem;
        text-align: left;
    }

    .mat-column-total_price {
        min-width: 12rem;
        width: 12rem;
        max-width: 12rem;
        text-align: left;
    }

    .mat-column-receiver_name {
        min-width: 12rem;
        width: 12rem;
        max-width: 12rem;
        text-align: left;
    }


    .mat-column-date {
        min-width: 15rem;
        width: 15rem;
        max-width: 15rem;
        text-align: center;
    }

    .mat-column-branch {
        min-width: 12rem;
        width: 12rem;
        max-width: 12rem;
        text-align: left;
    }

    .mat-column-status {
        min-width: 15rem;
        width: 15rem;
        max-width: 15rem;
        text-align: center;
    }

    .mat-column-action {
        flex: none;
        width: 2rem;
        text-align: right;
    }
}


::ng-deep .shared-header-section {
    .custom-icon-button {
        height: 34px !important;
        min-height: 34px !important;
        max-height: 34px !important;
        width: 34px !important;
        min-width: 34px !important;
        max-width: 34px !important;
    }
}

.sm-header-section{
    @apply bg-white min-h-14 max-h-14 flex gap-2 justify-between items-center py-2 pl-5 pr-2.5 #{'!important'};
}

// ::ng-deep .mat-mdc-paginator-container{
//     .mdc-icon-button{
//         @apply dark:bg-gray-500 dark:bg-opacity-5 text-white #{'!important'}
//     }

// }
