<div mat-dialog-title class="shared-header-section">
    <!-- header of student detail -->

    <div class="absolute right-2">
        <button
            mat-icon-button
            class="flex items-center border"
            (click)="closeDialog()"
        >
            <mat-icon class="icon-size-6 -mb-0.5" svgIcon="mat_outline:close" />
        </button>
    </div>

    <div class="flex w-150 flex-1 items-center justify-start font-medium">
        <div class="flex items-center ml-1.5">
            <span class="text-3xl font-semibold text-gray-600 -mb-0.5"
                >ថ្នាក់សិក្សា {{ data?.data.shift_date | date : "dd-MM-y" }}/
                {{ data?.data.start_at | date : "h a" }} -
                {{ data.data.finish_at | date : "h a" }}
            </span>
        </div>
    </div>
</div>
<div class="view-student-content">
    <mat-tab-group class="mat-tab-flex-grow">
        <mat-tab label=" ទូទៅ ">
            <div class="w-full">
                <div class="flex justify-start items-center py-5">
                    <mat-icon
                        svgIcon="mat_outline:golf_course"
                        class="icon-size-6"
                    ></mat-icon>
                    <span class="text-xl font-normal pl-3">បំណង</span>
                </div>
                <div class="pl-10" *ngFor="let sub of data.data.subjects">
                    <span>- {{ sub }}</span>
                </div>
                <div class="flex justify-start items-center py-5">
                    <mat-icon
                        svgIcon="mat_outline:textsms"
                        class="icon-size-6"
                    ></mat-icon>
                    <span class="text-xl font-normal pl-3">សម្គាល់</span>
                </div>
                <div></div>
            </div>
        </mat-tab>
        <mat-tab label="អវត្តមាន" class="">
            <div class="lg-shared-header-section header-section">
                <div class="flex items-center ml-1.5 gap-4">
                    <span class="text-2xl font-semibold text-gray-600 -mb-0.5">
                        អវត្តមាន {{ general?.total_a }} , ច្បាប់​
                        {{ general?.total_p }}
                    </span>
                </div>
                <button mat-icon-button class="flex items-center border">
                    <mat-icon
                        class="icon-size-6 -mb-0.5"
                        svgIcon="feather:printer"
                    />
                </button>
            </div>
            <div class="view-attendance-data">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="profile">
                        <!-- <th mat-header-cell *matHeaderCellDef>  </th> -->
                        <td mat-cell *matCellDef="let item">
                            <div class="flex">
                                <img
                                    class="student-avatar"
                                    [src]="fileUrl + item.student.avatar"
                                    alt="avatar"
                                />
                                <div class="flex flex-col justify-center pl-2">
                                    <strong
                                        class="text-lg font-[400] text-slate-900 dark:text-white"
                                        >{{ item?.student?.kh_name }}</strong
                                    >
                                    <span class="text-sm text-gray-500">{{
                                        item?.student?.code
                                    }}</span>
                                </div>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <!-- <th mat-header-cell *matHeaderCellDef> </th> -->
                        <td
                            mat-cell
                            *matCellDef="let item"
                            class="h-[50px] flex items-center justify-center"
                        >
                            <!-- <shared-select
                                [ariaDisabled]="true"
                                [value]="item?.status?.id"
                                [row]="item"
                                (change)="onChnageStatus($event)"
                                [disabled]="true"
                            ></shared-select> -->
                            <span
                                [ngClass]="
                                    getStatusSituation(item?.status?.name)
                                "
                                >{{ item?.status?.name }}</span
                            >
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="remark">
                        <!-- <th mat-header-cell *matHeaderCellDef> </th> -->
                        <td mat-cell *matCellDef="let item">
                            <div *ngIf="item?.status?.id == 3 && onchnage">
                                <input
                                    type="text"
                                    class="border rounded-lg h-11 hover:border-blue-600 px-2 w-full"
                                    [id]="'remark-' + item.id"
                                    (keyup.input)="onInputRemark(item, $event)"
                                    placeholder="សូមបញ្ចូលហេតុផល.."
                                />
                                <!--  <input type="text" class="  h-14  px-2 w-full focus:pl-[7px] cursor-pointer" [ngClass]="{ 'border rounded-lg hover:border-blue-600': item.remark.length == 0,' rounded-lg focus:border focus:border-blue-600': item.remark.length > 0}" [id]="'remark-' + item.id"  (keyup.input)="onInputRemark(item,$event)" placeholder="សូមបញ្ចូលហេតុផល.."> -->
                            </div>
                            <span
                                *ngIf="item?.status?.id != 3 || !onchnage"
                                class="text-gray-500 inline-block text-start w-full px-3"
                                >{{ item?.remark }}</span
                            >
                        </td>
                    </ng-container>

                    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr> -->
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<mat-dialog-actions> </mat-dialog-actions>
