<div mat-dialog-title  class="shared-header-section">
    <!-- header of student detail -->
    <div class="flex flex-1 items-center font-medium">
        <div class="flex items-center ml-1.5">
            <span class="text-3xl font-semibold text-gray-600 -mb-0.5"> កែប្រែព័ត៌មានអាណាព្យាបាល </span>
        </div>
    </div>
    <div class="flex items-center gap-4">
        <button mat-icon-button class="flex items-center" (click)="closeDialog()" >
            <mat-icon class="icon-size-8 mt-1" svgIcon="mat_outline:close" />
        </button>
    </div>
</div>

<mat-dialog-content class="border-t w-[600px]">
    <form class="grid grid-cols-1 gap-4 md-form-field-appearance-outline" [formGroup]="parent">

        <div class="grid grid-cols-1 sm:grid-cols-1 gap-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>ឈ្មោះ</mat-label>
                <input matInput formControlName="name" placeholder="បញ្ចូលឈ្មោះ" >
                <mat-error>សូមបញ្ចូលឈ្មោះ</mat-error>
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-1 gap-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>មុខរបរ</mat-label>
                <input matInput formControlName="job" placeholder="បញ្ចូលមុខរបរ">
                <mat-error>សូមបញ្ចូលមុខរបរ</mat-error>
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-1 gap-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>ត្រូវជា</mat-label>
                <input matInput formControlName="relation" placeholder="បញ្ចូលត្រូវជា">
                <mat-error>សូមបញ្ចូលត្រូវជា</mat-error>
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-1 gap-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>លេខទូរសព្ទទី​ ១</mat-label>
                <input matInput formControlName="phone1" placeholder="បញ្ចូលលេខទូរសព្ទទី​ ១" (keyup)="validatePhone1Input($event)">
                <mat-error>សូមបញ្ចូលលេខទូរសព្ទទី​ ១</mat-error>
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-1 gap-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>លេខទូរសព្ទទី​ ២</mat-label>
                <input matInput formControlName="phone2" placeholder="បញ្ចូលលេខទូរសព្ទទី​ ២" (keyup)="validatePhone2Input($event)">
                <mat-error *ngIf="parent.get('phone2').hasError('phone2Invalid')">លេខទូរសព្ទទី2 ដូចលេខទូរសព្ទទី1</mat-error>
                <mat-error *ngIf="parent.get('phone2').hasError('pattern')">លេខទូរសព្ទទី2 មិនត្រឹមត្រូវ</mat-error>
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-1 gap-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>អុីម៉ែល</mat-label>
                <input matInput formControlName="email" placeholder="បញ្ចូលអុីម៉ែល">
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-1 gap-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Telegram</mat-label>
                <input matInput formControlName="telegram" placeholder="បញ្ចូល Telegram">
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-1 gap-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>ហ្វេសប៊ុក</mat-label>
                <input matInput formControlName="facebook" placeholder="បញ្ចូលហ្វេសប៊ុក">
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-1 gap-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>អាសាយដ្ឋាន</mat-label>
                <input matInput formControlName="address" placeholder="បញ្ចូលអាសាយដ្ឋាន">
                <mat-error>សូមបញ្ចូលអាសាយដ្ឋាន</mat-error>
            </mat-form-field>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions class="flex items-center justify-end">
    <button class="helpers-mat-button-md min-w-20 bg-blue-900 mr-3" mat-flat-button (click)="submit()"
        [disabled]="parent.invalid || parent.disabled">
        <span *ngIf="!parent.disabled" class="text-white">រក្សាទុក</span>
        <mat-progress-spinner *ngIf="parent.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
</mat-dialog-actions>
