<section class="view-student-section" *ngIf="!loading && !loadingPayment">
    <div class="view-student-container" @fadeInCustom>
        <div class="shared-header-section">
            <!-- header of student  -->
            <div class="flex flex-1 items-center font-medium">
                <button class="flex items-center" (click)="back()">
                    <mat-icon
                        class="icon-size-8 mt-1"
                        svgIcon="mat_outline:chevron_left"
                    />
                </button>

                <div class="flex items-center ml-1.5">
                    <span
                        class="text-3xl font-semibold text-gray-600 -mb-0.5"
                        >{{ data?.kh_name }}</span
                    >
                </div>
            </div>
        </div>
        <div class="view-student-body">
            <!-- body of tabs -->
            <mat-tab-group class="mat-tab-flex-grow">
                <mat-tab label="ទូទៅ">
                    <!-- body of student general -->
                    <shared-view-student-general
                        [data]="data"
                        [id]="id"
                        (dialogClosed)="view()"
                        [path]="this.path"
                    ></shared-view-student-general>
                </mat-tab>

                <mat-tab label="ថ្នាក់រៀន">
                    <!-- body of student classroom -->
                    <shared-view-student-classroom
                        [data]="classroom"
                        [name]="data?.kh_name"
                        [id]="id"
                    ></shared-view-student-classroom>
                </mat-tab>
                @if(path === 'receptionist'){
                <mat-tab label="ការបង់ប្រាក់">
                    <shared-student-payment
                        [data]="payment"
                        [otherPayment]="otherPayment"
                    ></shared-student-payment>
                </mat-tab>
                }
                <mat-tab label="ឯកសារ">
                    <shared-view-student-file
                        [data]="attechemnts" [id]="id"
                    ></shared-view-student-file>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>
